$primary-light: #b8c1ec;
$primary-dark: #232946;
$secondary: #fffffe;
$tertiary: #eebbc3;
$stroke: #121629;

:root {
	--primary: #{$primary-light};
	--primary-ligth: #{$primary-light};
	--primary-dark: #{$primary-dark};
	--background: #{$primary-dark};
	--secondary: #{$secondary};
	--tertiary: #{$tertiary};
	--stroke: #{$stroke};
}

@media (prefers-color-scheme: dark) {
	:root {
	--primary: #{$primary-dark};
	--background: #{$primary-light};
	--secondary: #{$secondary};
	--tertiary: #{$tertiary};
	--stroke: #{$stroke};
	}
}