:root {
	--primary-scissor: linear-gradient(0deg, hsl(39, 89%, 49%) 50%, hsl(40, 84%, 53%) 100%);
	--primary-paper: linear-gradient(0deg, hsl(230, 89%, 62%) 50%, hsl(230, 89%, 65%) 100%);
	--primary-rock: linear-gradient(0deg, hsl(349, 71%, 52%) 50%, hsl(349, 70%, 56%) 100%);
	--primary-cyan: linear-gradient(0deg, hsl(189, 59%, 53%) 50%, hsl(189, 58%, 57%) 100%);
	--neutral-dark: hsl(229, 25%, 31%);
	--neutral-score: hsl(229, 64%, 46%);
	--neutral-header: hsl(217, 16%, 45%);
	--background-gradient: radial-gradient(
		circle at 50% 0%,
		hsl(214, 47%, 23%) 50%,
		hsl(237, 49%, 15%) 100%
	);
}
