@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(~assets/fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(~assets/fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(~assets/fonts/Jost-Bold.ttf);
}


$font-weight-normal: 300;
$font-weight-bold: 700;

:root {
  --font-size-body: 16px;
  --font-family: 'Open Sans', sans-serif;
  --font-weight-normal: #{$font-weight-normal};
  --font-family-secondary: 'Jost', sans-serif;
}