@use '~/assets/styles/mixins/mixins' as *;


$primary-light: #b8c1ec;
$primary-dark: #232946;
$secondary-light: #fffffe;
$secondary-dark: #dfdfdf;
$tertiary: #eebbc3;
$tertiary-dark: #bf959b;
$tertiary-light: #ffdde2;
$stroke: #121629;

$border-radius: rem(10px);
$border: rem(1px) solid var(--stroke);
$box-shadow: rem(10px) rem(10px) 0 0 var(--primary-dark);
$max-width: rem(1440px);

$nav-height: rem(59px);
$header-height: rem(90px);