@use '~/assets/styles/mixins/mixins' as *;


$primary-light: #b8c1ec;
$primary-dark: #232946;
$primary-dark-08: rgb(35, 41, 70, 0.8);
$secondary-light: #fffffe;
$secondary-dark: #dfdfdf;
$tertiary: #eebbc3;
$tertiary-dark: #bf959b;
$tertiary-light: #ffdde2;
$stroke: #121629;

$border-radius: rem(10px);
$border: rem(1px) solid var(--stroke);
$box-shadow: rem(10px) rem(10px) 0 0 var(--shadow);
$max-width: rem(1024px);

$nav-height: 50px;
$header-height: 90px;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: clamp(1.25rem, 5vw, 1.5rem);
$text-3xl: clamp(1.5rem, 5vw, 1.875rem);
$text-4xl: clamp(1.75rem, 5vw, 2.5rem);
$text-5xl: clamp(2rem, 8vw, 3.5rem);
$text-6xl: clamp(2rem, 10vw, 4.5rem);