// ------------------------------------------------------
// DISPLAY MIXINS
// ------------------------------------------------------


// Flex
// ----------------------------------------------
@mixin flex($align-item:center, $justify-content:center, $flex-direction: row) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}