@use "./variables";
@use "./global";
@use "./typography";
@use "./space";
@use "./color";
@use "./reset";

// Global classes

// .dot
@use "sass:list";

$sizes: xs, sm, base, lg, xl, 2xl, 3xl, 4xl, 5xl, 6xl;

$heading-sizes: 5xl, 4xl, 3xl, 2xl, xl, lg;

@each $size in $sizes {
    .text-#{$size} {
        font-size: var(--font-#{$size});

        & + .dot {
            font-size: var(--font-#{$size});
        }
    }
}

@for $i from 1 through 6 {
    $size: list.nth($heading-sizes, $i);

    h#{$i} .dot {
        font-size: var(--font-#{$size});

        & + .dot {
            font-size: var(--font-#{$size});
        }
    }
}